<!DOCTYPE html>
<html lang="en-US" dir="ltr">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Cloud Torrent</title>

    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static 'homepage/assets/img/favicons/icon.png' %}"
    />

    <meta name="theme-color" content="#ffffff"/>

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&amp;display=swap"
            rel="stylesheet"
    />
    <link href="{% static 'homepage/vendors/prism/prism.css' %}" rel="stylesheet"/>
    <link href="{% static 'homepage/vendors/swiper/swiper-bundle.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'homepage/assets/css/theme.css' %}" rel="stylesheet"/>
    <style>
        body {
            overflow-y: hidden;
        }
    </style>
    <script>
        function redirectToLogin() {
            location.href = "{% url 'login' %}";
        }

        function redirectToSignup() {
            location.href = "{% url 'signup' %}";
        }
    </script>
</head>

<body>
<main class="main" id="top">
    <nav
            class="navbar navbar-expand-lg fixed-top navbar-dark"
            data-navbar-on-scroll="data-navbar-on-scroll"
    >
        <div class="container">
            <a class="navbar-brand" href="{% url 'homepage' %}"
            ><img src="{% static 'homepage/assets/img/favicons/icon.png' %}" width="60px" alt=""
            />Cloud Torrent</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fa-solid fa-bars text-white fs-3"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html"
                        >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"
                        >About</a
                        >
                    </li>

                    <li class="nav-item mt-2 mt-lg-0">
                        <a
                                class="nav-link btn btn-light text-black w-md-25 w-50 w-lg-100"
                                aria-current="page"
                                href="{% url 'login' %}"
                        >Log In</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-dark">
        <img
                class="img-fluid position-absolute end-0"
                src="{% static 'homepage/assets/img/hero/hero-bg.png' %}"
                alt=""
        />

        <section>
            <div class="container">
                <div class="row align-items-center py-lg-8 py-6">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="text-white fs-5 fs-xl-6">
                            Save time by fast and safe Cloud Torrent
                        </h1>
                        <p class="text-white py-lg-3 py-2">
                            Cloud torrent is a cloud based application which enables everyone to download torrent from
                            cloud with faster and secure way.
                            There is no tracking , giving user maximum privacy on this people hunting World.
                        </p>
                        <div class="d-sm-flex align-items-center gap-3">

                            <button onclick="redirectToLogin()" class="btn btn-success text-black mb-3 w-75">
                                Login
                            </button>
                            <button onclick="redirectToSignup()" class="btn btn-outline-light mb-3 w-75">
                                Sign up
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0">
                        <img
                                class="img-fluid"
                                src="{% static 'homepage/assets/img/hero/hero-graphics.png' %}"
                                alt=""
                        />
                    </div>
                </div>
                <div class="swiper">
                    <div
                            class="swiper-container swiper-shadow swiper-theme"
                            data-swiper='{"slidesPerView":2,"breakpoints":{"640":{"slidesPerView":2,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":40},"992":{"slidesPerView":5,"spaceBetween":40},"1024":{"slidesPerView":4,"spaceBetween":50},"1025":{"slidesPerView":6,"spaceBetween":50}},"spaceBetween":10,"grabCursor":true,"pagination":{"el":".swiper-pagination","clickable":true},"loop":true,"freeMode":true,"autoplay":{"delay":2500,"disableOnInteraction":false}}'
                    >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide text-center">
                                <img src="{% static 'homepage/assets/torrent.png' %}" width="50px" alt=""/>
                            </div>
                            <div class="swiper-slide text-center">
                                <img src="{% static 'homepage/assets/icons8-utorrent-64.png' %}" width="50px" alt=""/>
                            </div>
                            <div class="swiper-slide text-center">
                                <img src="{% static 'homepage/assets/cloud-storage.png' %}" width="50px" alt=""/>
                            </div>
                            <div class="swiper-slide text-center">
                                <img src="{% static 'homepage/assets/cloud.png' %}" width="50px" alt=""/>
                            </div>
                            <div class="swiper-slide text-center">
                                <img src="{% static 'homepage/assets/insurance.png' %}" width="50px" alt=""/>
                            </div>
                            <div class="swiper-slide text-center">
                                <img src="{% static 'homepage/assets/privacy.png' %}" width="50px" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<script src="{% static 'homepage/vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'homepage/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'homepage/vendors/is/is.min.js' %}"></script>
<script src="{% static 'homepage/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'homepage/vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'homepage/vendors/prism/prism.js' %}"></script>
<script src="{% static 'homepage/vendors/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'homepage/assets/js/theme.js' %}"></script>
</body>
</html>